<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzc.video.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.lzc.video.pojo.Admin">
    <id column="adm_id" jdbcType="INTEGER" property="adm_id" />
    <result column="adm_name" jdbcType="VARCHAR" property="adm_name" />
    <result column="adm_pwd" jdbcType="VARCHAR" property="adm_pwd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    adm_id, adm_name, adm_pwd
  </sql>
  <select id="selectByExample" parameterType="com.lzc.video.pojo.AdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where adm_id = #{adm_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where adm_id = #{adm_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="adm_id" keyProperty="adm_id" parameterType="com.lzc.video.pojo.Admin" useGeneratedKeys="true">
    insert into admin (adm_name, adm_pwd)
    values (#{adm_name,jdbcType=VARCHAR}, #{adm_pwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="adm_id" keyProperty="adm_id" parameterType="com.lzc.video.pojo.Admin" useGeneratedKeys="true">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adm_name != null">
        adm_name,
      </if>
      <if test="adm_pwd != null">
        adm_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adm_name != null">
        #{adm_name,jdbcType=VARCHAR},
      </if>
      <if test="adm_pwd != null">
        #{adm_pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lzc.video.pojo.Admin">
    update admin
    <set>
      <if test="adm_name != null">
        adm_name = #{adm_name,jdbcType=VARCHAR},
      </if>
      <if test="adm_pwd != null">
        adm_pwd = #{adm_pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where adm_id = #{adm_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lzc.video.pojo.Admin">
    update admin
    set adm_name = #{adm_name,jdbcType=VARCHAR},
      adm_pwd = #{adm_pwd,jdbcType=VARCHAR}
    where adm_id = #{adm_id,jdbcType=INTEGER}
  </update>
</mapper>